<app-header></app-header>
<!-- <div class="card">
    <div class="card-body">
        <form [formGroup]="angForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">post Title</label>
                <input type="text" class="form-control" formControlName="title" #title />
            </div>
            <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['title'].errors.required">
                    post Name is required.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">post Content </label>
                <input type="text" class="form-control" formControlName="content" #content />
            </div>
            <div *ngIf="angForm.controls['content'].invalid && (angForm.controls['content'].dirty || angForm.controls['content'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['content'].errors.required">
                    post post is required.
                </div>
            </div>


            <div class="form-group">
                <button (click)="addPost(title.value, content.value)" type="submit" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add post</button>
            </div>
        </form>
    </div>
</div> -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-5 bg-light rounded">
            <h1 class="text-center font-weight-bold text-primary">Contact Us</h1>
            <hr class="bg-light">
            <h5 class="text-center text-success"></h5>
            <form (submit)="onSavePost(postForm)" #postForm="ngForm">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="text" class="form-control" name="title" [ngModel]="post?.title" required minlength="3" placeholder="Post Title" #title="ngModel">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-comment-alt"></i></span>
                    </div>
                    <textarea class="form-control" placeholder="Write your message" cols="30" name="content" [ngModel]="post?.content" required placeholder="Post Content" #content="ngModel"></textarea>
                </div>

                <button class="btn btn-primary btn-block" type="submit">Save Post</button>
            </form>
        </div>
    </div>
</div>
